* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.musicContainer {
  height: 800px;
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
  display: flex;

  &__content {
    width: 1200px;
    height: 100%;
    // background-color: #000;
    display: flex;
    flex-wrap: wrap;

    &--picture {
      width: 462px;
      height: 690px;
      background-color: #fcf;
    }

    &--album {
      width: 738px;
      height: 690px;
      background-color: #1a1a1a;
      // margin-bottom: 10px;
    }

    &--progress {
      width: 100%;
      height: 13px;

      & > div {
        width: 0;
        height: 13px;
        background-color: #e5b4b7;
        cursor: pointer;
        transition: width 2s;
      }
    }

    &--player {
      width: 100%;
      height: 97px;
      // background-color: #772020;
      background: linear-gradient(#772020, #361024);
    }
  }

  &__sidebar {
    width: 80px;
    height: 100%;
    background-color: #4b3434;
  }
}
