* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

.musicContainer {
  height: 800px;
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
  display: flex;

  &__content {
    width: 1200px;
    height: 100%;
    // background-color: #000;
    display: flex;
    flex-wrap: wrap;

    &--picture {
      width: 462px;
      height: 693px;
      background-color: #fcf;
    }

    &--album {
      width: 738px;
      height: 693px;
      background-color: #1a1a1a;
      margin-bottom: 10px;
    }

    &--player {
      width: 100%;
      height: 97px;
      background-color: #772020;
    }
  }

  &__sidebar {
    width: 80px;
    height: 100%;
    background-color: #4b3434;
  }
}
